html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary: #2c3639;
  --secondary: #dcd7c9;
  --third: #a27b5c;
  --white: #fffffb;
  --light-grey: #f5f5f5;
  --grey: #3f4e4f;
  --dark-grey: #64748b;
  --black: #000;
  /*   --primary: #2d626d;
--dark-grey: #64748b;
  --secondary: #b0dcd3;
  --choral: #fb8e62; */
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  background-color: var(--secondary);
  margin-bottom: 5rem;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 4rem;
  color: var(--secondary);
}

h2 {
  font-size: 3rem;
  color: var(--primary);
}

h3 {
  font-size: 2rem;
  color: var(--primary);
}
header {
  background-color: var(--primary);
}
.content {
  max-width: 80%;
  margin: 0 auto;
}
.header--logo {
  padding: 6rem 0 5rem;
  margin: 0 auto;
}
#app-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
}
.search-block {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.favorites-block {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
#outlet {
  grid-column: 1 / 4;
  width: 100%;
}

p {
  font-size: 1.8rem;
  color: var(--white);
  padding: 1rem;
}
a {
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}
label {
  font-size: 1.8rem;
  color: var(--white);
  padding: 1rem;
}

.button {
  background-color: var(--grey);
  padding: 1rem;
  border-radius: 5px;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--light-grey);
  color: var(--grey);
  border: 3px solid var(--grey);
}
.section-content {
  margin-top: 5rem;
  padding: 2rem;
}
.search--content {
  border-radius: 10px;
  background-color: var(--third);
}
.search--button {
  width: 20rem;
}

.search--title {
  color: var(--white);
}
.search--form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}
.search--form__select {
  padding: 1rem;
  font-size: 1.5rem;
  width: 20rem;
}
.form--ingredient-option {
  text-transform: capitalize;
}
.form--input {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--third);
  width: 100%;
}
textarea {
  max-width: 100%;
  min-width: 100%;
  height: 150px;
}
.form--textarea {
  padding: 1rem;
  border-radius: 5px;
  border: 3px solid var(--third);
}

.recipe-cards-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin: 3rem auto;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-grey);
  padding: 2rem;
  border-radius: 10px;
  height: 100%;
}
.recipe-card--img {
  max-width: 100%;
}
.recipe-ui--img {
  max-width: 50%;
}
.recipe-ui {
  background-color: var(--light-grey);
  padding: 2rem 5rem;
  border-radius: 10px;
  height: 100%;
  margin: 5rem auto;
  max-width: 90%;
}
.recipe-card--title {
  color: var(--primary);
  font-weight: 700;
  font-size: 2rem;
}

.recipe-card--text {
  display: block;
  color: var(--primary);
  line-height: 1.5;
}
.recipe-card--text span {
  font-weight: 700;
}
.recipe--text {
  display: block;
  padding: 2rem;
  color: var(--primary);
  line-height: 1.5;
}
.recipe--text span {
  font-weight: 700;
}
.recipe--ingredients {
  display: flex;
  justify-content: center;
}
.favorite-content {
  border-radius: 10px;
  background-color: var(--primary);
  margin: 5rem 0;
  padding: 2rem;
}
.favorites--h2 {
  color: var(--light-grey);
  text-align: center;
  padding: 2rem;
}
.favorite-card {
  background-color: var(--secondary);
  border-radius: 10px;
  margin: 2rem 0;
  padding: 2rem 1rem;
}
.favorite-card--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.favorite-card--buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.favorite-card--img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}
.favorite-card--p {
  padding: 0;
}
.favorite-card--text {
  color: var(--primary);
}

.buttons-section {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.recipe-ui--header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: var(--light-grey);
  padding: 1rem 3rem;
  gap: 3rem;
  justify-items: center;
}

.error {
  margin: 5rem 10rem;
  padding: 2rem;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.error--text__span {
  font-weight: 700;
}

.favorites--no-favorites {
  margin: 2rem;
  padding: 2rem;
  background-color: var(--light-grey);
  color: var(--primary);
  border-radius: 10px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 992px) {
  .content {
    max-width: 90%;
    margin: 0 auto;
  }
  .recipe-cards-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 3rem auto;
  }
}
@media (max-width: 768px) {
  .content {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  #app-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
  }
  .search-block {
    order: 2;
  }
  .favorites-content {
    order: 1;
  }
  .recipes-block {
    order: 3;
  }
  .recipe-ui {
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    margin: 2rem auto;
    max-width: 90%;
  }

  .favorite-content {
    margin-bottom: 0;
    margin-top: 2rem;
    padding: 2rem;
  }
  .section-content {
    margin-top: 0;
    padding: 2rem;
  }
  .recipe-ui--header {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--light-grey);
    align-items: flex-start;
    gap: 1rem;
  }
}
